{{- $currentLanguage := .Language.LanguageName -}}
{{- $items := slice -}}
{{- range .Translations -}}
    {{- $items = $items | append (dict
            "text" .Language.LanguageName
            "action" (printf "changeLanguage('%s')" .Permalink)
        ) 
    -}}
{{- end -}}

<footer>
    <div class="arclib-footer-wrapper">
        <div class="arclib-footer-lang-theme" id="arclib-language-selector">
            {{- partial "utils/dropdown.html" (dict
                    "align" "left" 
                    "trigger" (dict "text" $currentLanguage "iconLeft" "globe-alt")
                    "items" $items
                )
            -}}
            {{- partial "utils/button.html" (dict "id" "arclib-theme-toggle" "iconLeft" "sun" "iconRight" "moon") -}}
        </div>
    </div>
    <hr>
    <div class="arclib-footer-wrapper">
        <div class="arclib-footer-links">
            <div class="arclib-footer-list">
                <div class="arclib-footer-headline">List 1</div>
                <a href="/" class="arclib-footer-item">Item 1</a>
                <a class="arclib-footer-item">Item 2</a>

                <div class="arclib-footer-headline">List 2</div>
                <a class="arclib-footer-item">Item 1</a>
                <a class="arclib-footer-item">Item 2</a>
            </div>
            <div class="arclib-footer-list">
                <div class="arclib-footer-headline">List 1</div>
                <a class="arclib-footer-item">Item 1</a>
                <a class="arclib-footer-item">Item 2</a>
            </div>
            <div class="arclib-footer-list">
                <div class="arclib-footer-headline">List 1</div>
                <a class="arclib-footer-item">Item 1</a>
                <a class="arclib-footer-item">Item 2</a>
            </div>
            <div class="arclib-footer-list">
                <div class="arclib-footer-headline">List 1</div>
                <a class="arclib-footer-item">Item 1</a>
                <a class="arclib-footer-item">Item 2</a>
            </div>
        </div>
    </div>
</footer>