<div class="arclib-nav-container">
  <div class="arclib-nav-container-blur"></div>
  <nav>
    {{- partial "navbar-title" -}}

    {{- $currentPage := . -}}
    {{- range site.Menus.main -}}
      {{- if eq .Params.type "search" -}}
        {{- if ne $currentPage.Section "docs" -}}
          {{- partial "search.html" (dict "alignment" "right") -}}
        {{- end -}}
      {{- else -}}
        {{- $link := .URL -}}
        {{- $external := strings.HasPrefix $link "http" -}}

        {{- if or (eq .Params.type "link") (not .Params.type) -}}
          {{- partial "navbar-link.html" (dict "currentPage" $currentPage "link" $link "external" $external "item" .) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <a
      href="https://www.github.com/albers4/"
      target="_blank"
      rel="noopener norefferer">{{- partial "utils/icon.html" (dict "name" "github" "attributes" "height=1.5rem") -}}</a>
  </nav>
</div>