{{- $toc := .Params.toc | default true -}}
{{- $onThisPage := (T "onThisPage") | default "On this page" -}}
{{- $tags := (T "tags") | default "Tags" -}}

<nav class="arclib-toc-container">
    {{- if $toc -}}
        <div>
            {{- with .Fragments.Headings -}}
                <!--<p>{{ $onThisPage }}</p>-->
                {{- range . -}}
                    <ul>
                        {{- with .Headings -}}{{ template "toc-subheading" (dict "headings" . "level" 0) }}{{- end -}}
                    </ul>
                {{- end -}}
            {{- end -}}
        </div>
    {{- end -}}
</nav>

{{- define "toc-subheading" }}
    {{- $headings := .headings -}}
    {{- $level := .level -}}
    {{- if ge $level 6 -}}
        {{ return }}
    {{- end -}}

    {{- $padding := (mul $level 4) -}}
    {{- $class := cond (eq $level 0) "" (printf "padding-left-%d" $padding) -}}

    {{- range $headings -}}
        {{- if .Title -}}
            <li>
                <a href="#{{ .ID }}">
                    {{ .Title | safeHTML | plainify | htmlUnescape }}
                </a>
            </li>
        {{- end -}}
        {{- with .Headings -}}
            {{ template "toc-subheading" (dict "headings" . "level" (add $level 1)) }}
        {{- end -}}
    {{- end -}}

{{- end -}}